.git
.gitignore
.github
bin
dist
artifacts
coverage.out
*.prof
*.test
*.key
*.pem
*.crt
*.der
*.p12
*.pfx
*.jks
*.keystore
*.kdbx
*.ovpn
id_rsa
id_dsa
id_ecdsa
id_ed25519
secrets
token
.env
*.secret
*.token
*.pcap
*.pcapng
testdata/stealth/pcaps
testdata/stealth/pcaps/**
